<h1> <%= @cocktail.name%> </h1>
<ul>
<% @doses.each do |dose| %>
  <%= dose.description %> shots of <%= dose.ingredient.name %>
</ul>
<ul>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</ul>
<ul>
  <%= link_to "Delete", dose_path(dose.id), method: :delete, data: { confirm: "Are you sure you want to delete?"}  %>
</ul>
<% end %>

<ul>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
</ul>
<ul>
<%= link_to "Go Back to Home", cocktails_path %>
</ul>

<!--   <div class="row">
    <div class="col-xs-12">
      <h3>Add a review</h3>
<form novalidate="novalidate" class="simple_form new_review" id="new_review" action="/cocktails/1/reviews" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="38X9yleoUjvckYJsKK7WECV3l/9HSbZB14GBW0Hao0PlRpR82pki/CajrD7gjW8Knb2p6Ak0WlBN/CExON3BvA==" />
  <div class="form-group select optional review_rating"><label class="control-label select optional" for="review_rating">Rating</label><select class="form-control select optional" name="review[rating]" id="review_rating"><option value=""></option>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option></select></div>
  <div class="form-group text required review_content"><label class="control-label text required" for="review_content"><abbr title="required">*</abbr> Content</label><textarea class="form-control text required" name="review[content]" id="review_content">
</textarea></div>
  <input type="submit" name="commit" value="Create Review" class="btn btn-primary" data-disable-with="Create Review" />
</form>
    </div>
  </div>
</div> -->

<!--
<div class="row">
    <div class="col-xs-12">
      <h3>Reviews</h3>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
              </span>
              Amazing cocktail build by a duck!
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
              </span>
              Not a good duck batender
            </li>
        </ul>
    </div>
  </div>
 -->
